<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @line_item.course_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @line_item.schedule_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
